= form_for [:admin, :blog, @post] do |f|
  .form_col1
    %p 
      = f.label :title
      %br
      = f.text_field :title
    %p 
      = f.label :content
      %br
      = f.text_area :content
    %p 
      = f.submit
  .form_col2 
    = f.label :categories
    %ul{class: "category_list"}
      = render "admin/blog/categories/category_list", post: @post, categories: @categories
    %p
      %input{class: "new_category"}
      %br
      %br
      = link_to_function("New Category", 
        "admin_blog.new_category($('.new_category').val() #{','+ @post.id unless @post.id.nil? })", 
        class: "button")
    