%h1 Posts

= render "admin/blog/layouts/info_table", items: @posts, columns: [:title,
                                                                   {user: {label: :author, prop: :name}}, 
                                                                   :slug,
                                                                   :created_at,
                                                                   :updated_at,
                                                                   {comments_count: {label: :c, title: "Comment Count"}}]
= paginate_for :posts do |p|
  %span{class: "right"}
    = p.link_to_last
    = p.link_to_next
  = p.page_out_of_total
  %span{class: "left"}
    = p.link_to_previous
    = p.link_to_first                                                