%h1 Posts

%ul{class: "admin_list_types"}
  %li= "#{link_to("All", admin_blog_posts_url)} | ".html_safe
  - types = @post_types.map do |t| 
    - content_tag(:li, link_to(t.status, admin_blog_posts_type_url(t.status.capitalize)))
  = types.join(content_tag(:li, " | ")).html_safe
  

= render "admin/blog/posts/posts_table", posts: @posts, type: @type

= paginate_for :posts do |p|
  %span{class: "right"}
    = p.link_to_last
    = p.link_to_next
  = p.page_out_of_total
  %span{class: "left"}
    = p.link_to_previous
    = p.link_to_first                                                