%nav
  = nav_sign_in_items(true)

  %ul 
    %li= link_to "Admin Home", admin_root_url
    %li= "|" 
    %li= link_to "Blog", admin_blog_root_url
    %li= "|"
    %li= link_to "Settings", admin_settings_root_url
