- count = 0
- categories.each do |c|
  - count += 1
  %tr{class: ((count % 2 == 0) ? "row_stripe" : nil)}
    %td= c.category
    %td= c.posts.published.count
    %td= c.updated_at.strftime("%A %b %d, %Y")
  %tr{class: ((count % 2 == 0) ? "row_stripe" : nil)}
    %td{colspan: 3}
      = form_for c, url: admin_blog_category_path(c), remote: true, html: {class: 'edit'} do |f|
        %p
          = f.text_field :category
          = hidden_field_tag 'page', params[:page]
          = f.submit 'Update'
        
      %div{class: "roll_over"}
        = link_to_function 'edit', "admin_blog.edit_category_tag(this)"
        = " | " 
        = link_to_function 'delete', "admin_blog.delete_category('#{c.id},#{params[:page]}')"